*{
    box-sizing: border-box;
}

:root{
    --gray : #6a7686;
    --skyblue : #56B5D3;
    --sidebar-width : 400px;
    --header-height : 60px;
    --skyblue-gradient : linear-gradient( #3ACAFB  0%,#56B5D3 100%);
    --blue-gradient : linear-gradient(to right, #69A3EA 0%,#676FE1 100%);
    --purple-gradient : linear-gradient(to right, #C194FA 0%, #B67AF6 100%);
    --orange-gradient : linear-gradient(to right, #FDB686 0%, #FF9A8D 100%);
    --box-shadow : 1px 1px 3px  rgba(0,0,0,0.1);
}

.skyblue_gradient{
    background: var(--skyblue-gradient);
}

.blue_gradient{
    background: var(--blue-gradient);
}

.purple_gradient{
    background: var(--purple-gradient);
}
.orange_gradient{
    background: var(--orange-gradient);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
}



.header{
    display: flex;
    align-items: center;
    background: #fff;
    width : 100%;
    padding : 0 40px;
}


.header_title{
    width : 360px;
    display: flex;
    align-items: center;

    h1{
        font-size: 1.5rem;
        color: var(--skyblue);
        font-weight: 800;
    }
}

.header_right{
    padding-left : 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width : 100%;
}


.header_input{
    display: flex;
    align-items: center;
    gap : 10px;
    min-width : 30%;

    img{
        width : 18px;
        height : 18px;
        color : #e2e2e2;
        filter: invert(48%) sepia(4%) saturate(1725%) hue-rotate(175deg) brightness(93%) contrast(84%);

    }

    input{
        border : none;
        width : 100%;
        height : 100%;
        padding : 4px 4px;
        outline : none;
        font-size: 16px;
    }

    input::placeholder{
        color : var(--gray);
        font-size :16px
    }
}

.header_buttons{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap :40px;

    button{
        cursor : pointer;
        position : relative;
        border: none;
        background-color: transparent;

        img{
            width : 20px;
            height: 20px;
            filter: invert(48%) sepia(4%) saturate(1725%) hue-rotate(175deg) brightness(93%) contrast(84%);
        }
    }

    button:hover img{
        filter : invert(65%) sepia(86%) saturate(259%) hue-rotate(150deg) brightness(83%) contrast(98%);


    }
}

.badge{
    width : 4px;
    height : 4px;
    border-radius: 50%;
    background-color : #B87DBC;
    position : absolute;
    top : -2px;
    right : 4px;
    z-index: 10;
}

.header_buttons_profile{
    display: flex;
    align-items: center;
    gap : 10px;
    cursor : pointer;

    img{
        width : 30px;
        height : 30px;
    }

    img:first-child{
        border-radius: 50%;
        border : 2px solid rgba(0,0,0,0.3);
    }

    img:last-child{
        width : 20px;
        height : 20px;
        filter: invert(48%) sepia(4%) saturate(1725%) hue-rotate(175deg) brightness(93%) contrast(84%);

    }

    span{
        color : var(--gray);
        font-size :14px
    }

   
}


.main_layout{
    display: flex;
    flex : 1;
    width: 100%;
    height : 100%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap : 20px;
    background: white;
    padding : 60px 40px;
    width : var(--sidebar-width);
    min-height: 100%;
}

.sidebar_profile{
    display: flex;
    align-items: center;
    gap : 10px;
    img{
        width : 40px;
        height : 40px;
        border-radius: 50%;
        border : 2px solid rgba(0,0,0,0.3);
    }

    figcaption{
        display: flex;
        flex-direction: column;

        span:nth-child(2){
            color : var(--gray);
            font-size :14px
        }
    }
}

.sidebar_nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 10px;
   

    img{
        width : 20px;
        height : 20px;
        filter: invert(48%) sepia(4%) saturate(1725%) hue-rotate(175deg) brightness(93%) contrast(84%);
    }

    li{
        cursor : pointer;
        list-style: none;
        display : flex;
        align-items: center;
        justify-content: space-between;
        padding : 10px 0px;
        width: 100%;

        span{
            font-weight: 600;
            font-size :16px;
            color : var(--gray);
        }
    }
}

.sidebar_button{
    margin : 0 4px;
    color : white;
    font-size : 16px;
    background: var(--skyblue-gradient);
    border : none;
    border-radius: 5px;
    padding : 14px 0px;

}


.main{
    overflow :hidden;
    width : 100%;
    height : 100%;
    background-color: rgba(0,0,0,0.05);
    padding : 60px 20px 40px 40px;
    display:   flex;
    flex-direction: column;
    gap : 30px;
}

.main_title{
    display: flex;
    flex-wrap : wrap;
    align-items: center;
    gap : 10px;
    

    img{
        width : 40px;
        height : 40px;
        padding : 5px;
        border-radius: 5px;
        background: var(--skyblue-gradient);
    }

    h1{
        font-size: 18px;
        font-weight: 700;
        color : rgba(0,0,0,0.7);
    }
}

.main_card_container{

    display:  grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap : 20px;   
}

.main_card{
    border-radius: 10px;
    color : white;
    box-shadow: var(--box-shadow);
   
    padding : 30px 20px;
    img {
        width : 25px;
        height : 25px;
        filter: invert(99%) sepia(87%) saturate(2%) hue-rotate(122deg) brightness(117%) contrast(100%);
        margin-bottom : 20px;
    }

    .main_card_title{
        font-size: 16px;
        font-weight: 600;
        margin-bottom : 5px;
    }

    .main_card_number{
        font-size: 24px;
        font-weight: 600;
        margin-bottom : 30px;
    }

    .main_card_increased{
        font-size: 18px;
        font-weight: 600;
    }
}

.main_table_container{
    background-color: white;
    border-radius: 10px;
    padding : 20px 20px;
    box-shadow: var(--box-shadow);
    

    h1{
        font-size : 20px;
        font-weight: 700;
        color : var(--gray);
    }

    table{
        width : 100%;
        
    }

    td ,th {
        text-align : left;
        font-size : 14px;
        padding : 10px 0px;
    }

    tr{
        border-bottom : 1px solid rgba(0,0,0,0.3);
    }

    thead {
        th:nth-child(2){
            width : 30%;
        }

        th:last-child{
            width : 10%;
        }

        tr > th{
            color : var(--gray);
            font-weight: 600;
            font-size : 16px;
            width : 20%;
        }
        
    }
    
    tbody > tr{

        th{ 
            font-weight : 500;
        }

        td:last-child{
            display: flex;
            align-items: center;
            padding-right : 6px;   
        }
        color : #868e96;
    }
}

.status{
    width : 78px;
    font-size : 14px;
    color : white;
    font-weight : 500;
    padding : 4px 6px;
    text-align: center;
}

.pending{
    background : linear-gradient( #C194FA 0%, #B67AF6 100%);

}

.approved{
    background : linear-gradient( #69A3EA 0%,#676FE1 100%);

}

.reject{
    background : linear-gradient( #FDB686 0%, #FF9A8D 100%);
}

@media screen and (max-width : 950px){
    .sidebar{
        z-index: 1000;
        position : fixed;
        top : 0;
        left : -100%;
        box-shadow: var(--box-shadow);
        width : var(--sidebar-width);
        transition : left 0.3s ease;
    }

    .sidebar.open{
        left : 0;
    }

    .header_title{
        width : auto;
    }

    .header_buttons{
        gap: 5px;
    }
}

@media screen and (max-width: 640px) {

    .main{
        overflow-y: scroll;
    }

    .header_right{
        padding-left : 10px;
    }

    .header_buttons_profile{
        div > span{
            display: none;
        }
        gap:2px;
    }



    .header_buttons button:first-child {
        display: none;
    }

    .header_buttons button:nth-child(2){
        display: none;
    }

    .header_buttons button:nth-child(3){
        display: none;
    }

    thead {
        display: none;
    }

    .main_table_container{
        h1{
            margin-top : 20px;
        }

        tbody {
            display: flex;
            flex-direction: column;
    
            tr {
                display: flex;
                flex-direction: column;
                padding-bottom : 30px;
            }

            tr:not(:first-child){
                padding-top : 20px;
            }

            tr:last-child{
                border-bottom : none;
            }
        }
        

        td ,th {
            padding : 4px 0px;
        }


    }
    
}